* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Header */
header {
    background: #ff6b00;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Navigation */
nav {
    background: #333;
    display: flex;
    justify-content: center;
}

nav a {
    color: white;
    padding: 15px;
    text-decoration: none;
}

nav a:hover {
    background: #ff6b00;
}

/* Main Section */
.container {
    display: flex;
    justify-content: center;
    padding: 40px;
    gap: 20px;
}

/* Boxes */
.box {
    background: #f4f4f4;
    padding: 25px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 8px gray;
}

/* Footer */
footer {
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Tablet View */
@media (max-width: 900px) {
    .container {
        flex-wrap: wrap;
    }

    .box {
        width: 45%;
    }
}

/* Mobile View */
@media (max-width: 600px) {

    nav {
        flex-direction: column;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 90%;
    }
}
